@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-regular.ttf') format('truetype'),
        url('../assets/fonts/roboto-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-bold.ttf') format('truetype'),
        url('../assets/fonts/roboto-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}